
.Principal {
	background-color: #ccc;
	text-align: center;
	color: #fff;
	margin: auto;
	width: 1200px;
}

header
{
	text-align: center;
	color: #fff;
	margin: auto;
	background-color: #121213;
	height: 300px;
}

nav
{
    margin: auto;
    background-color: #121213;
    height: 50px;
	width:	1195px;
	border: 3px solid #191616;
	opacity: 0.99;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: baseline;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 0;
    width: 100%;
    text-decoration: none;
    color: #f1f1f1;
}

nav div >ul
{
	align-content: center;

}


section
{
	margin: auto;
    background-color: blue;
    width: 850px;
    height: 990px;
    margin-top: 5px; 
    margin-bottom: 5px;
    border: 5px solid #000;
    float:left;  
}

aside
{
	margin: auto;
	background-color: blue;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width:	325px;
	height: 990px;
	border: 5px solid #000;
	float: left;
}

footer
{
	margin-top: 10px;
	background-color: blue;
	height: 200px;
	width:	1190px;
	border: 5px solid #000;
	clear: both;
}





 
/* 
 Pra dispositivos que tem uma largura mínima de 768 pixels. Tablets, por exemplo.
*/
@media screen and (min-width: 768px) {
	    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    
	header {width: 1200px;}
}
 
/* 
 Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media screen and (min-width: 992px) {

	    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    

 	header {width: 1200px;}
}
 
/* 
 Dispositivos com largura mínima de 1200 pixels. Por exemplo TVs.
*/
@media screen and (min-width: 1200px) {

	    /*
    NAVEGAÇÃO
    */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;
    }
    

}

