/**/
/*Altera o estilo de todo o conteúdo da page */
*{
	margin: 0px; /* distancia da parte externa do objeto = 0 pixel */ 
	/* Poderia colocar sem o px  =  0  */

	padding: 0px; /* distancia da parte interna do objeto = 0 pixel */
	
	font-family: Arial; /* Tipo de fonte */
}

/*
div.principal
{

                    Pode ser feito assim.  
}
*/
.principal
{

	background: #ccc; /*Cor de fundo*/
	width: 1200px;    /*Largura*/
	margin: auto;   /* Centralizando a parte externa */
	margin-top: 20px; /* a div Distancia 20px do topo*/
	padding: 10px;  /* distancia internamente os objetos dentro box em 10px */

	/* éssa forma de alterar o padding, pode ocorrer um aumento na box*/

}

header
{
	background-color: #fff; /*Branco no plano de fundo do header*/
	width: 1200px;
	height: 200px; /*Altura*/
}

nav
{
	background-color: #fff;
	margin-top: 10px;	/* Distancia de 10px do topo do menu*/
	width: 1200px;
	height: 50px;	
}

section 
{
	background-color: #fff;
	margin-top: 10px;
	width: 900px; 
	height: 500px;
	float: left;
}

aside
{
	background-color: #fff;
	margin-top: 10px;
	width:  290px;     /* 290 para dar o espaamento entre a section */  /*(principal)1200 - 900(section) = (aside) 300 */    
	height: 500px;     /* Do tamanho da section*/
	float: left; 	   /* joga a box do aside para o lado*/ 
	margin-left: 10px; /* distancia 10px para direita */
	margin-bottom: 10px;
}


footer
{
	background-color: #fff;
	width: 1200px;
	height: 60px;
	clear: both;

	/*O preciso de um clear no box depois dos que estao flutuando*/
}