@font-face {

	font-family: "QualquerNome"; /* nome da fonte atribuida*/
	src:url("../fontes/zombie checklist alpha.ttf") format("truetype"); /*Caminho da fonte*/
}

h1{
	font-family: "QualquerNome";
}

p{
	font-family: 'Molle', cursive;
}

h2{
	font-family: Arial;
 	font-size: 15px;
}