*{
	margin: 0px;
	padding: 0px;	
}

.content
{
	background-color: #ccc;
	margin:auto;
	padding: 5px;
	margin-top: 20px;
}


header
{
	background-color: #fff;
	width : 1200px;
	height: 250px;
	margin-top: 5px;
}


nav
{
	background-color: #fff;
	width: 1200px;
	height: 50px;
	margin-top: 5px;
}


section
{
	background-color: #fff;
	width: 900px;
	height: 500px;
	margin-top: 5px;
	box-sizing: border-box;
	padding: 10px;
	float:left;
}

article
{
	background-color: #777;
	width: 300px;
	height: 350px;
}

figcaption
{
	padding:10px;
	text-align: justify; /* naosei*/
}

aside
{
	background-color: #fff;
	width: 295px;
	height: 500px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	float: left;
}

footer
{
	background-color: #fff;
	width: 1200px;
	height: 60px;
	clear: both;
}

